@mixin setFamily($fontName: 'Arial', $fileName: 'Arial-Regular', $fontWeight: 400, $fontStyle: false) {
  @font-face {
    font-family: $fontName;
    font-display: swap;

    @if $fontStyle {
      font-style: italic;
    }
    font-weight: $fontWeight;
    src: url("/fonts/#{$fontName}/#{$fileName}.woff2") format("woff2"),
      url("/fonts/#{$fontName}/#{$fileName}.ttf") format("truetype");
  }
}
@mixin setTruncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
