include mixins
include globals

doctype html
html(lang=templateSettings.lang)
  head
    for type in templateSettings.meta
      for val, name in type
        +getMeta(type, name, val)
    meta(name='viewport' content='width=device-width')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    block metaSeo
    base(href=templateSettings.base)
    for val, type in templateSettings.link.rel
      +getLink(type, val)
  body
    .page
      .page__wrapper
        +Header
        main.page__main
          .u-wrapper
            block content
        +Footer
  for script in templateSettings.scripts
    +getScripts(script.name, script.type)
